name: schedule

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install deno
        uses: denoland/setup-deno@v1

      - name: Run deno
        run: |
          git config --local user.email "2071916845@qq.com"
          git config --local user.name "tryrun"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.zhihutrendingtop }}@github.com/${{ github.repository }}
          git pull --rebase
          deno run --unstable --allow-net --allow-read --allow-write --import-map=import_map.json mod.ts
          deno fmt
          git add .
          git commit -m "update by github action"
          git push -f
